.main__wrap {
  padding: 5px 0px;
  background-color: rgb(246, 246, 239);
  width: 85%;
  margin: 0 auto;
}

.header {
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 102, 0);
}

.header .nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-brand {
  font-weight: bold;
  margin: 0px 5px;
  font-size: 10pt;
}

.header .nav img {
  border: 1px solid #ffffff;
  width: 15px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  color: #000000;
  margin: 0px 5px;
  font-size: 10pt;
}

.login-link {
  font-size: 10pt;
}

.contracts__wrap {
  margin-top: 10px;
}

.contract {
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 9px;
}

.index {
  color: #828282;
  width: 25px;
  text-align: right;
}
.upvote_img {
  cursor: pointer;
  margin: 2px 5px 0px 5px;
}
.url-link {
  display: inline-block;
  color: #828282;
  font-size: 9pt;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
}
.demographics {
  font-size: 9pt;
  color: #828282;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username,
.time,
.hide,
.comments {
  margin: 0px 3px;
}

.url-link:hover,
.title-text:hover,
.username:hover,
.time:hover,
.hide:hover,
.comments:hover {
  cursor: pointer;
  text-decoration: underline;
}

.more_block {
  padding: 15px 43px;
  border-bottom: 2px solid rgb(255, 102, 0);
}
.more {
  cursor: pointer;
}

.footer_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer_wrap .nav-items,
.footer_wrap .nav-items a {
  font-size: 8pt;
}

.search_bar {
  margin-top: 10px;
}

.search_bar label {
  font-size: 11pt;
  margin-right: 5px;
  color: #828282;
}

.nav-item-wrap {
  display: flex;
  width: 100%;
  align-items: center;
}

@media (max-width: 580px) {
  .nav-item-wrap {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }

  .main__wrap {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .header {
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 102, 0);
  }

  .header .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .nav-brand {
    font-weight: bold;
    margin: 0px 5px;
    font-size: 10pt;
  }

  .header .nav img {
    border: 1px solid #ffffff;
    width: 15px;
  }

  .nav-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-items a {
    text-decoration: none;
    color: #000000;
    margin: 0px 5px;
    font-size: 10pt;
  }

  .login-link {
    font-size: 10pt;
  }

  .contracts__wrap {
    margin-top: 10px;
  }

  .contract {
    font-size: 10pt;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 9px;
  }

  .index {
    color: #828282;
    width: 15px;
    text-align: right;
  }
  .upvote_img {
    cursor: pointer;
    margin: 2px 5px 0px 5px;
  }
  .url-link {
    display: block;
    color: #828282;
    font-size: 9pt;
    margin: 0px;
  }
  .demographics {
    font-size: 9pt;
    color: #828282;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .username,
  .time,
  .hide,
  .comments {
    margin: 0px 3px;
  }

  .url-link:hover,
  .title-text:hover,
  .username:hover,
  .time:hover,
  .hide:hover,
  .comments:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .more_block {
    padding: 15px 43px;
    border-bottom: 2px solid rgb(255, 102, 0);
  }
  .more {
    cursor: pointer;
  }

  .footer_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .footer_wrap .nav-items,
  .footer_wrap .nav-items a {
    font-size: 6.5pt;
  }

  .search_bar {
    margin-top: 10px;
  }

  .search_bar label {
    font-size: 11pt;
    margin-right: 5px;
    color: #828282;
  }
}
